/* ---------------- General Page ---------------- */
body {
  font-family: 'Rubik';
  max-width: 800px;
  margin: 0 auto;
  padding: 5px;
}

/* Meta styling */
.meta {
  color: #1F45FC;
}

/* ---------------- Header Section ---------------- */
.header {
  display: flex;
  align-items: flex-start;        /* Align everything at the top */
  justify-content: space-between; /* Logo left, invoice center, supplier right */
  width: 100%;
  padding: 10px 20px;
}

.logo img {
  max-width: 140px;
  height: auto;
  display: block;
}

.header-meta {
  flex: 1 1 auto;                 /* Center block stretches between logo and supplier */
  display: flex;
  flex-direction: column;
  text-align: left;               /* Invoice info left-aligned inside center block */
  font-family: 'Rubik', sans-serif;
}

.header-meta .title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 5px;
}

.header-meta .info {
  font-size: 0.9em;
  color: #1F45FC;
  margin: 2px 0;
}

.header-meta .meta {
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 5px;
}

.supplier {
  flex: 0 0 auto;
  text-align: right;
  font-size: 0.9em;
}


/* ---------------- Info Sections ---------------- */
.info .meta {
  text-transform: uppercase;
}

.info .meta::after {
  content: " :";
}

.supplier {
  color: #4682B4;
  display: block;
}

.block {
  padding-left: 5px;
  display: block;
  flex: auto;
}

/* ---------------- Client, Items, Summary ---------------- */
.client, .items, .summary {
  padding: 1px;
  margin-top: 1em;
  margin-bottom: 1em;
  background: #1F45FC;
  -webkit-print-color-adjust: exact !important;
  color-adjust: exact !important;
}

.client .title, .summary .title {
  margin-left: 4px;
  color: white;
  text-transform: uppercase;
}

.client .details, .summary .details {
  padding: 4px;
  background-color: var(--grist-theme-page-panels-main-panel-bg, white);
}

table.items {
  width: 100%;
  border: 1px solid #1F45FC;
  border-collapse: collapse;
}

table.items th {
  text-align: left;
  color: white;
  text-transform: uppercase;
  font-weight: normal;
  padding: 4px;
}

table.items td > span, table.items td .item {
  display: block;
}

table.items td {
  background-color: var(--grist-theme-page-panels-main-panel-bg, white);
  padding: 4px;
}

.client .title, .summary .title, table.items th, .help .title {
  padding-top: 10px;
  padding-bottom: 10px;
}

.money, .number {
  text-align: left;
}

.name {
  color: #000080;
}

.address {
  padding-bottom: 1em;
}

div.date-tag {
  display: inline-block;
  min-width: 80px;
}

/* ---------------- Layout ---------------- */
div.top {
  display: flex;
  width: 100%;
  padding: 0px;
  justify-content: start;
}

div.summary {
  display: flex;
  width: 100%;
  padding: 0px;
  align-items: flex-end;
}

div.summary .part, div.summary .total {
  padding: 10px;
}

div.summary .part {
  width: 20%;
  padding-right: 20px;
}

div.summary .total {
  display: block;
  flex-grow: 1;
  background: #FCD71E;
  font-size: 140%;
}

div.summary {
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
}

div.summary .total {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

div.summary .title, div.summary .details {
  text-align: right;
}

div.summary::after {
  content: '';
  display: block;
  clear: both;
}

/* ---------------- Icons ---------------- */
.phone::before {
  content: "\260e";
  margin-right: 0.5em;
}

.email::before {
  content: "\2709";
  margin-right: 0.5em;  
}

/* ---------------- Thanks ---------------- */
.thanks {
  text-align: right;
  color: #34A56F;
  font-size: 200%;
}

/* ---------------- Notes / Instructions ---------------- */
div.instructions, .newlined, p.note {
  white-space: pre-line;
}

/* ---------------- Paid Stamp ---------------- */
div.paid {
  position: relative;
  left: 40%;
  color: green;
  rotate: 15deg;
  font-size: 80px;
  top: 20px;
  border: 5px solid green;
  float: left;
  font-weight: bolder;
}

/* ---------------- App Container ---------------- */
.app {
  position: relative;
}

/* ---------------- Print ---------------- */
@media print {
  div.print {
    display: none;
  }
}

div.print {
  position: fixed;
  left: 0;
  bottom: 0;
}

div.print a {
  background: #C83200;
  display: block;
  font-size: 200%;
  color: white;
  text-decoration: none;
  padding: 0.25em 0.5em 0.5em 0.25em;
  border-top-right-radius: 0.5em;
  text-transform: uppercase;
}

div.print a:hover {
  background: #4682B4;
}

/* ---------------- Status / Buttons ---------------- */
.done {
  text-decoration: line-through;
}

div.column-name {
  display: inline-block;
}

.column-name {
  background: blue;
  color: white;
  margin: 2px;
  padding: 2px;
  border-radius: 2px;
  font-style: normal;
}

.column-recognized {
  background: green;
}

.column-expected {
  background: blue;
}

.column-ignored {
  background: red;
}

.help {
  padding: 1px;
  margin-top: 1em;
  margin-bottom: 1em;
  background: black;
  color: white;
}

.help .details {
  padding: 4px;
}

.help table {
  border: none;
  padding-bottom: 3px;
}

.help td.key {
  text-align: right;
}

.help-close {
  display: float;
  float: right;
  max-width: 150px;
  padding: 5px;
  border-left: 1px solid white;
  border-bottom-left-radius: 5px;
  font-size: 80%;
  font-style: italic;
}

.help pre {
  display: inline-block;
  background: #ddd;
  color: #000;
  padding: 0.25em;
  margin-left: 1em;
}

.help .title {
  margin-left: 4px;
  text-transform: uppercase;
}

.status {
  padding: 4px;
}

.status .button {
  display: inline-block;
  text-decoration: none;
  color: #000080;
  background: #ddd;
  padding: 1px 0.5em;
  margin-top: 1px;
  margin-bottom: 1px;
  border-radius: 0.25em;
}

